<% if @manufacturer.errors.any? %>
  <% @manufacturer.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
<% end %>

<%= form_for @manufacturer do |m| %>
  <%= m.label :name, "Manufacturer Name" %>
  <%= m.text_field :name %>

  <%= m.label :country, "Country of Manufacture" %>
  <%= m.text_field :country %>

  <%= m.submit "Submit" %>

<%end%>
