<% if @manufacturer.errors.any? %>
  <% @manufacturer.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
<% end %>

<%= form_for @manufacturer do |f| %>
  <%= f.label :name, "Manufacturer Name" %>
  <%= f.text_field :name %>

  <%= f.label :country, "Country of Manufacture" %>
  <%= f.text_field :country %>

  <%= f.submit "Submit" %>

<%end%>

<%= link_to "Back", "/manufacturers" %>
